@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  @apply h-full;
}

body {
  @apply h-full;
  /* @apply overflow-hidden; */
  @apply overscroll-none;
}

#app {
  /* @apply grid; */
  /* @apply min-h-full; */
  /* @apply h-full; */
  @apply flex;
  @apply h-screen;
  @apply w-full;
}

/* TODO Move this */
/* for 100% screen realstate */
.container-fluid {
  width: 100%;
}

.p-menuitem-language {
  margin-left: 0 !important;
}

/* toggle buttons */
.toggle-btn:checked {
  /* Apply class right-0*/
  right: 0;
}

.toggle-btn:checked + .toggle-label {
  /* Apply class bg-indigo-700 */
  background-color: #4c51bf;
}

/* nprogress */

#nprogress .bar {
  background: #039ffe;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;
}

/* return p-highlight to normal font weight */
.p-highlight {
  font-weight: normal;
}

/* datatable locked feature */
.locked * {
  @apply text-slate-300 !important;
}
